In [6]:
#Q.1

for i in range(1,6):
    for x in range(6):
        x += i
        print(x)

1
2
3
4
5
6
2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10

In [7]:
#Q.2 Create a list of 1 to 20 numbers using for loop [1,2,3,..20].

x=[]
for i in range (1,21,1):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
#Q.3 Create a list of 20 to 1 value using for loop (Don't use reverse). 

x=[]
for i in range (20,0,-1):
    x.append(i)
print(x)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
#Q.4 Cube of odd values between 20 to 40.

for x in range (20,41):
    if x%2!=0:
        print(x**3)

9261
12167
15625
19683
24389
29791
35937
42875
50653
59319

In [12]:
#Q.5 Take 5 friends name in list name=[a,b,c,d,e] and take corresponding age in second list age =[20,21,22,23,24].

name=["A","B","C","D","E"]
age=[20,21,22,23,24]

for i,j in zip(name,age):
    print(f"My name is {i},my age is {j}")

My name is A,my age is 20
My name is B,my age is 21
My name is C,my age is 22
My name is D,my age is 23
My name is E,my age is 24

In [11]:
#Q.6 Given a list write a code to swap first to last element od the list.

list=[1,2,3,4,5,6,7]
def swap(list):
    if len(list)>=2:
        i = list[0]
        list[0]=list[6]
        list[6]=i
    return list

result=swap(list)
print(result)

[7, 2, 3, 4, 5, 6, 1]

In [19]:
#Q.7 Write a code count length of String

str= "AIS Solution"
len =0 
for i in str:
    len += 1
print(len)

12

In [18]:
#Q.8 Write a code get the sum of a only non-negative integer. ex[1,4,-5,-20,10]

i=[1,4,-5,-20,10]
sum=0
for x in i:
    if x>=0:
        sum= sum+x
print(sum)

15

In [1]:
#Q.9 Write a code Factorial

number = 3

factorial = 1
for i in range(1,number+1):
    factorial = factorial * i
print("Factorial of" , number,"is",factorial)

Factorial of 3 is 6